         .btn-grad {
             background-image: linear-gradient(to top right, #F6851B 20%, #D7C1B3 100%);
             padding: 12px 45px;
             text-align: center;
             text-transform: uppercase;
             transition: 0.5s;
             background-size: 200% auto;
             color: white;
             box-shadow: 0 0 5px gray;
             border-radius: 10px;
             display: block;
         }

         .btn-grad:hover {
             background-position: right center;
             /* change the direction of the change here */
             color: #fff;
             text-decoration: none;
         }